article{
	margin-left: 10px;
}

body   {background-image: url('../image/background.png');
		/*background-color:#73adff;*/
		font-size:16px;
        text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
        text-align: justify;
}
@font-face {font-family:oregano;src: url("font/Oregano-Regular.ttf") format("truetype");}

p		{font-size: 16px;text-align: justify;} 

p.quote	{
	font-size: 30px;
	font-family:oregano;
	color:#789087;
	text-align: center;
} 
p.training {font-size: 14px;}

a:link {color:#ffffff; text-decoration:none;}
a:visited{color:#ffffff; text-decoration:none;}
a:hover{color:#789087; text-decoration:none;}
a:active{color:#678249; text-decoration:none;}

li	{
	font-size: 18px;
	font-family: oregano;
}
#banner {
	background-image: url('../image/banner.png');
}

ul	{ font-size: 18px; }
ul.outset {
	border-top-style: double;
	border-color: #789087;
}

#warna {
	width: 230px;
	

}

#nav{
	margin-right: 30px
}

#outer    	{width:1250px;  margin:0 auto; /*background-color:#ffffff;*/background-image: url('../image/background.png');}
#wrapper  	{width:1200px; margin:0 auto; /*background-color:#ffffff;*//*background-image: url('../image/background.png')*/;}

#logo     	{width:700px; float:left;}
#kanan ul li	{display:inline; padding:5px;}
#kanan		{width:500px; float:right;}

#navigasi	{float:right;}

#header{
	border-bottom-style: double;
	border-bottom-width: 5px;
	float: left;
	margin-bottom: 10px;
	border-color:  #ffffff;
	background-image: url('../image/bg10.png');
}


#content {
	float:left;width:1200;
	margin-top:0px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:10px;
	padding-bottom: 30px;
	border-bottom-style: double;
	border-bottom-width: 5px;
	font-family: oregano;
	border-color: #ffffff;

}

#content h1 {
	font-size: 50px;
	color:#789087;
}

#content h3, h2 {
	font-size: 30px;
	color:#789087;
}

#content p {
	font-size: 20px;
	color:#789087;
	text-align: justify;

}

#content li {
	font-size: 20px;
	color:#789087;
	text-align: justify;
	margin-right: 70px;
	margin-top: 5px;
	line-height: 35px;
}


#right-content 	{
	float:right; width:900px;
	color:#789087;
}

#right-content h1{
	font-size: 50px;
	color:#789087;
}

#right-content p {
	font-size: 20px;
	color:#789087;
}

#left-content	{
	float:left; 
	width:300px;
	color: #000000;
}


#agenda		{
	float:both; width:250px;
	background-image:url('../image/banner.png');
	margin-top:0px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
}

#agenda ul li {
	font-family: oregano; 
	font-size: 18px;
	text-align: left;
	margin-right: 5px;
}

#event {
	float:both; width:250px;
	background-image:url('../image/banner.png');
	margin-top:0px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	font-family: oregano; 
}

#event p {
	font-family: oregano; 
	font-size: 18px;
	margin-left: 20px;
}

#registration {
	float:both; width:250px;
	background-image:url('../image/banner.png');
	margin-top:0px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	font-family: oregano; 
}

#registration p {
	font-family: oregano; 
	font-size: 18px;
	margin-left: 20px;
}

#subcontent		{float:both; width:300px;
				background-color:#CD5C5C;
				margin-top:0px;
				padding-left:50px;
				padding-right:20px;
				margin-bottom:10px;
}

#sub1		{float:left; width:500px;
			font-family: oregano;}

#sub2		{float:right; width:500px;
			font-family: calibri;}
			

#footer {clear:both;}

#tagh ul li	{
	display:inline;
	padding:5px;}



#footer {
	float:left width:900px;
    margin-top:20px;
    margin-bottom:20px;
    font-size: 18px;
    font-family: oregano;
    color:#789087;
}

.tag {
	display: inline;
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 210px;
    margin-top: 7px;
    color:#789087;
}


#tagh p {
    clear: both;
    display: block;
    line-height: 1.6em;
    margin: 0;
    padding: 10px 0 0;
    font-family: oregano;

}

.box {
	background-color: #020616;
	border: 1px solid #666666;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #020616;
	padding: 25px;
}
#mapss{
	margin-left: 200px;
	font-size: 20px;
}

.box1 {
    	background-color: #FFFFFF;
    	border: 1px solid #666666;
    	border-radius: 8px 8px 8px 8px;
    	box-shadow: 5px 5px 5px #CCCCCC;
    	padding: 10px;
}

.position {
		padding-right: 10px;
		margin-left: -10px;
		padding-top: 5px;
}

.tag {
		margin-left: -10px;
}
